*{
  margin: 0;
  padding: 0;
  font-family: "Syne", sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

/* .h-image{
  border-radius: 50%;
} */


body{
  background-color: #212529;
  
}




.menubar a.active{
  color: white;
}


.menu-btn{

  color: grey;
  padding: 12px;
  position: absolute;
  right: 0;
}

.menu-btn button{
  padding: 4px;
  font-size: 20px;
  background: rgb(232, 203, 13);
  border: none;
  color: black;
  font-weight: bold;
  border-radius:3px ;
  margin: 0;
  

  


} */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 1000;
  transition: all .6s ease;
  
  overflow: hidden; /* Ensures the nav content is contained within the nav bar */
/}


.menubar {
  display: flex; /* Aligns links horizontally */
  justify-content: start; /* Aligns items to the start of the container */
}

.menubar a {
  
  font-size: 20px;
  font-weight: bold;
  color: grey;
  margin: 0 30px;
  transition: all .6s ease;
  padding: 14px 20px; /* Adds padding around the links for spacing and size */
  text-decoration: none; /* Removes underline from links */
  font-size: 17px; /* Sets a standard font size for all links */
}

.menubar a:hover, .menubar a.active {
  /* Light background color for hover and active state */
  color: white; /* Dark text color for contrast on hover and active state */
}

.menu-btn button {
  background-color: #333; /* Matches the nav background color */
  border: none; /* Removes the default button border */
  color: white; /* Sets the icon color */
  padding: 14px 20px; /* Matches the padding of the links for consistent height */
  font-size: 20px; /* Sets the size of the icon */
  cursor: pointer; /* Changes the cursor to a pointer to indicate it's clickable */
}

.menu-btn button:hover {
  background-color: #ddd; /* Light background color for hover state */
  color: black; /* Dark text color for contrast on hover */
}

section{
  padding: 110px 14% 90px;

}
#home{
  display: flex;
  
}

/* .home{
  margin-top: 300px;
  height: 80px;
  width: 50px;
  
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.home-text{
  color: white;
  position: absolute;
  left: 250px;
  font-size: 30px;

} */

.h-line{
  display: inline-block;
  border-radius: 4px;
  color: rgb(168, 161, 161);
  background: transparent;
  border: 1px solid #7f7f7f;
  transition: all .6s ease;
  padding: 15px 13px 15px 13px;
  font-size: 20px;
}

.h-line:hover{
  color: white;
}

.home-text h1{
  margin: 30px 0;
  font-size: 80px;
  color: white;
}

.home-text h1 span{
  
  color: rgb(232, 203, 13);
}

.home-text h4{
  font-size: 22px;
  margin-bottom: 35px;
}

.social-icons a{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  background: transparent;
  border: 1px solid rgb(65, 63, 63);
  color:rgb(168, 161, 161);
  border-radius: 1.5rem;
  transition: all .6s ease;
  font-size: 20px;
  margin-right: 12px;
  margin-bottom: 40px;

}
.social-icons a:hover{
  transform: scale(1.06) rotate3d(0,0,1,360deg);
  color: white;
}

.h-btn{
  display: flex;
  align-items: center;
}

/* .image{
  height: 600px;
  width: 200px;
  position: fixed;
  right: 400px;
} */

.btn1{
  display: inline-block;
  background: transparent;
  padding: 18px 35px;
  border: 1px solid rgb(65, 63, 63);
  border-radius: 17px;
  font-size: 18px;
  font-weight: 500;
  margin-right: 20px;
  transition: all .6s ease;
  color: white;

  
}

.btn1:hover{
  letter-spacing: 2px;
}

.btn2{
  display: inline-block;
  padding: 18px 35px;
  background-color: rgb(232, 203, 13);
  font-size: 18px;
  font-weight: 500;
  border-radius: 17px;
  transition: all .6s ease;
  color: white;
}

.btn2:hover{
  transform: scale(1.07);
  background: transparent;
}



/* ---------------about---------------------  */



.about{
  display: flex;
  /* left: 0; */
  right: 0;
  /* padding-left: 30px; */
  justify-content: space-evenly;
  background: #343a40;
  
  
}
.about-text {
  padding-left: 10%;
}


.about-me h1{
  margin: 50px 0;
  font-size: 60px;
  color: white;

 

}



.about-me h1 span{
  color: rgb(232, 203, 13);
}


.ah-btn{
  display: flex;
  align-items: center;
  margin-top:30px ;
}

/* .image{
  height: 600px;
  width: 200px;
  position: fixed;
  right: 400px;
} */

.para{
  font-size: 18px;
  font-weight: 500px;
}

.para p{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 15px;
  color: #272525;
}

.abtn1{
  display: inline-block;
  background: transparent;
  padding: 18px 35px;
  border: 1px solid rgb(65, 63, 63);
  border-radius: 17px;
  font-size: 18px;
  font-weight: 500;
  margin-right: 20px;
  transition: all .6s ease;
  color: white;

  
}

.abtn1:hover{
  letter-spacing: 2px;
}

.abtn2{
  display: inline-block;
  padding: 18px 35px;
  background-color: rgb(232, 203, 13);
  font-size: 18px;
  font-weight: 500;
  border-radius: 17px;
  transition: all .6s ease;
  color: white;
}

.abtn2:hover{
  transform: scale(1.07);
  background: transparent;
}


/* showcase  */

 .projects{
   display: flex; 
   
  
  
}

.project-img{
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit,mimax(200px, auto)); */
  /* align-items: center; */
  
 
  
 } 

 .project-img img{
  overflow: hidden;
  height: 200px;
  width: 300px;
  padding: 30px;
  overflow: hidden;
  transition: 1s;
  border-radius: 40px;
  
}

.project-img img:hover{
  transform: scale(1.1);
  z-index: 2;
}

 .row{
  background: #0d1b2a;
  border-radius: 1.7rem;
  padding: 0px 0px 10px 0px;
  transform: all .6s ease;
  margin-left: 20px;
  
 } 

 .container{
  color: white;
 justify-content: space-between;
 /* gap: 20px; */
 text-align: center;
 }

 .container a{
  float: right;
  display: inline-flex;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius:50% ;
  background: rgb(232, 203, 13);
  color: black;
  transition: 1s;
 }

 .container a:hover{
  transform: scale(1.3);
  z-index: 2;
 }

     /*---- services-- */

     .Services{
      background: #343a40;
     }

 /* contact  */

 .display{
  display: inline-flex;
  justify-content: space-evenly;
 }
 
 /* main{
  display: grid;
  justify-content: end;
  float: right;
  
 } */

 .email p{
  font-size: 18px;
  padding: 20px;
 }

 .call p{
  font-size: 18px;
  padding: 20px;
 }

 .contact-me{
  height: 100%;
  width: 100%;
  position: relative;
  right: -300px;
  

 }

 .contact-me input{
  padding: 5px;
  width: 500px;
  margin: 5px;
  background-color: #000814;
  color: white;
  font-size: 15px;
  font-weight: 300px;
  border: none;
  border-radius: 8px;
 }

 .contact-me label{
  color: transparent;
 }

 .msg input ::placeholder{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
 }

 .msg input{
  height: 200px;
  
 }

 

 .Copyright a{
  font-size: 13px;
  color: rgb(119, 116, 116);
 }

 .Copyright a:hover{
  color: whitesmoke;
 }

 

 .submit-btn{
  display: inline-block;
  padding: 12px 30px;
  background-color: rgb(232, 203, 13);
  font-size: 18px;
  font-weight: 500;
  border-radius: 17px;
  transition: all .6s ease;
  border: none;
  color: white;
  right: 0;
  
  /* background-color: rgb(232, 203, 13); */
  
}

.submit-btn:hover{
  transform: scale(1.07);
  background: transparent;
}

.btn2:hover{
  transform: scale(1.07);
  background: transparent;
}